@page "/addtask"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@inject ITaskService TaskService;
@inject NavigationManager NavigationManager;

<h3>Add Task</h3>
<br />
<div>
    <EditForm Model="@taskItem" OnSubmit="@OnSubmit">
        Title:
        <InputText id="title" @bind-Value="taskItem.TaskTitle" />
        <br />
        Description:
        <InputText id="description" @bind-Value="taskItem.TaskDescription" />
        <br />
        Priority:
        <InputSelect id="prio" @bind-Value="taskItem.TaskPrio" class="form-control">

            @foreach (var prio in Enum.GetValues(typeof(Priority)))
            {
                <option value="@prio">@prio</option>
            }
        </InputSelect>
        <br />
        <button type="submit">Submit</button>
    </EditForm>
    <a href="" @onclick="@(()=> NavigationManager.NavigateTo("/singlelist"))" @onclick:preventDefault class="btn btn-primary">Cancel</a>
</div>

@code {
    private TaskItem taskItem = new();
    private Priority prio = new();

    public async Task OnSubmit()
    {
        try
        {
            taskItem = await TaskService.AddTaskAsync(taskItem);
            NavigationManager.NavigateTo("/singlelist", true);
        }
        catch (Exception)
        {
            
            throw;
        }
        
    }
}
