@page "/CreateList"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject IListService ListService;
@inject NavigationManager NavigationManager;

<h3>Create new list</h3>
<div>
    <EditForm Model="@listItem" OnSubmit="@OnSubmit">
        Title: <br />
        <InputText class="mb-5" id="name" @bind-Value="listItem.ListTitle" />
        <br /><br />
        Color: <br />
        <InputSelect id="color" @bind-Value="listItem.TitleColor" class="form-control w-25">

            @foreach (var color in Enum.GetValues(typeof(Color)))
            {
                <option value="@color">@color</option>
            }
        </InputSelect>
        <br/><br />
        <button class="btn btn-primary" type="submit">Submit</button>
        <a href="" @onclick="@(()=> NavigationManager.NavigateTo("/currentuserlists"))" @onclick:preventDefault class="btn btn-secondary">Cancel</a>
    </EditForm>
</div>
@code {
    private ToDoListItem listItem = new();

    public async Task OnSubmit()
    {
        try
        {
            var listIten = await ListService.CreateListAsync(listItem);
            NavigationManager.NavigateTo("/currentuserlists", true);
        }
        catch (Exception)
        {
            return;
        }      
    }
}
