@page "/edittask"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject ITaskService TaskService;
@inject NavigationManager NavigationManager;

<h3 class="mb-4">Edit Task</h3>

<div>
    <p class="text-danger">@errorMessage</p>
    <EditForm Model="@TaskItem" OnSubmit="@OnSubmit">
        <DataAnnotationsValidator />
        <p class="mb-2">New title:</p>
        <InputText class="mb-2" id="name" @bind-Value="TaskItem.TaskTitle" />
        <ValidationMessage For="@(() => TaskItem.TaskTitle)" />
        <p class="mb-2">New description:</p>
        <InputText class="mb-2" id="description" @bind-Value="TaskItem.TaskDescription" />
        <ValidationMessage For="@(() => TaskItem.TaskDescription)" />
        <p class="mb-2">New priority:</p>
        <InputSelect id="prio" @bind-Value="TaskItem.TaskPrio" class="form-control w-25 mb-5">
            @foreach (var prio in Enum.GetValues(typeof(Priority)))
            {
                <option value="@prio">@prio</option>
            }
        </InputSelect>
        <button class="btn btn-primary" type="submit">Update</button>
        <a href="" @onclick="@(()=> NavigationManager.NavigateTo("/singletask"))" @onclick:preventDefault class="btn btn-secondary">Cancel</a>
    </EditForm>
</div>

@code {
    private TaskItem TaskItem { get; set; } = new();
    private string errorMessage { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        var taskId = CurrentRecord.Id["TaskId"];
        TaskItem = await TaskService.GetSingleTaskAsync(Guid.Parse(taskId));
    }
    public async Task OnSubmit()
    {
        try
        {
            TaskItem = await TaskService.EditTaskAsync(TaskItem);
            NavigationManager.NavigateTo("/singlelist", true);
        }
        catch (Exception)
        {
            errorMessage = "Please fill in the form";
        }

    }
}
