@page "/sortlists"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@inject IListService ListService;
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<h3 class="mb-4">Sort Lists</h3>

<p class="mb-4">How do you want to sort?</p>

<div>
    <EditForm Model="@User" OnValidSubmit="@Update">
        <InputSelect id="sort" @bind-Value="User.SortBy" class="form-control w-25 mb-5">

            @foreach (var sort in Enum.GetValues(typeof(SortList)))
            {
                <option @onclick="@Update" value="@sort">@sort</option>
            }
        </InputSelect>
        <button class="btn btn-primary" type="submit">Update</button>
        <a href="" @onclick="@(()=> NavigationManager.NavigateTo("/currentuserlists"))" @onclick:preventDefault class="btn btn-secondary">Cancel</a>
    </EditForm>
</div>

@code {
    private UserItem User { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            User = await UserService.GetSingleUserAsync();
        }
        catch (Exception)
        {
            return;
        }
    }

    public async Task Update()
    {
        try
        {
            await ListService.SortListsAsync(User);
            NavigationManager.NavigateTo("/currentuserlists", true);
        }
        catch (Exception)
        {
            return;
        }       
    }

}
