@page "/sorttasks"

@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@inject ITaskService TaskService;
@inject NavigationManager NavigationManager;

<h3>SortTasks</h3>

How do you want to sort?
<br /><br />
<div>
    <EditForm Model="@list" OnSubmit="@Update">
        <InputSelect id="sort" @bind-Value="list.Sortby" class="form-control">

            @foreach (var sort in Enum.GetValues(typeof(SortTask)))
            {
                    <option @onclick="@Update" value="@sort">@sort</option>
            }
        </InputSelect>
        <button type="submit">Update</button>
    </EditForm>
    <a href="" @onclick="@(()=> NavigationManager.NavigateTo("/singlelist"))" @onclick:preventDefault class="btn btn-primary">Avbryt</a>
</div>

@code {
    private SortTask sortBy = new();
    private TaskItem task = new();
    private ToDoListItem list = new ();
    private IEnumerable<TaskItem> tasks = new List<TaskItem>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
        tasks = await TaskService.GetTasksAsync();

        }
        catch (Exception)
        {
            
            throw;
        }
    }

    public async Task Update()
    {
        try
        {
            await TaskService.SortTasksAsync(list); //funkar ej
            NavigationManager.NavigateTo("/singlelist", true);
        }
        catch (Exception)
        {
            
            throw;
        }
        
    }
}
