@page "/sortlists"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@inject IListService ListService;
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<h3>Sort Lists</h3>
<br />

How do you want to sort?
<br /><br />
<div>
    <EditForm Model="@_user" OnSubmit="@Update">
        <InputSelect id="sort" @bind-Value="_user.SortBy" class="form-control">

            @foreach (var sort in Enum.GetValues(typeof(SortList)))
            {
                <option @onclick="@Update" value="@sort">@sort</option>
            }
        </InputSelect>
        <button type="submit">Update</button>
    </EditForm>
</div>

@code {
    private SortList _sortBy = new();
    private UserItem _user = new();
    private IEnumerable<ToDoListItem> lists = new List<ToDoListItem>();

    protected override async Task OnInitializedAsync()
    {
        _user = await UserService.GetSingleUserAsync();
        lists = await ListService.GetCurrentUserListsAsync();

    }

    public async Task Update()
    {
        lists = await ListService.SortListsAsync(_user); //funkar ej
        NavigationManager.NavigateTo("/currentuserlists", true);
    }

}
