@page "/Users"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<h3>Användare</h3>

<table class="table">
    <tbody>
        @foreach (var user in users)
        {
                <tr>
                    <td>@user.Username</td>     
                    <td>@user.Email</td>
                    <td>@user.Access</td>
                </tr>
            <button @onclick="() => GoToUser(user)" class="btn btn-secondary align-self-end">Go To User</button>
        }
    </tbody>
</table>

<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/promoteuser"))" @onclick:preventDefault class="btn btn-primary">Promote user</a>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/admin"))" @onclick:preventDefault class="btn btn-primary">Go back</a>

@code {
    private IEnumerable<UserItem> users = new List<UserItem>();


    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsersAsync();
    }
    public void GoToUser(UserItem user)
    {
        CurrentRecord.Id["UserIdAdmin"] = user.Id.ToString();
        NavigationManager.NavigateTo("/singleuser", true); //funkar men ingen säkerhet att bara admin får se
    }
}
