@page "/Users"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<h3>Users</h3>

<table class="table">
    <tbody>
        @foreach (var user in users)
        {
                <tr>
                    <td>@user.Username</td>     
                    <td>@user.Email</td>
                    <td>@user.Access</td>
            </tr>
           
            <button @onclick="() => PromoteUser(user)" class="btn btn-secondary align-self-end">Promote User</button>
            <button @onclick="() => DemoteUser(user)" class="btn btn-secondary align-self-end">Demote User</button>
        }
    </tbody>
</table>

<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/promoteuser"))" @onclick:preventDefault class="btn btn-primary">Promote user</a>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/admin"))" @onclick:preventDefault class="btn btn-primary">Go back</a>

@code {
    private IEnumerable<UserItem> users = new List<UserItem>();
    public bool show { get; set; } = true;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            users = await UserService.GetUsersAsync();

        }
        catch (Exception)
        {

            throw;
        }
    }
    //public void GoToUser(UserItem user)
    //{
    //    try
    //    {
    //        NavigationManager.NavigateTo("/singleuser", true); funkar men ingen säkerhet att bara admin får se
    //    }
    //    catch (Exception)
    //    {
    //        throw;
    //    }

    //}
    public async Task PromoteUser(UserItem user)
    {
        try
        {
            await UserService.PromoteUserAsync(user);
            NavigationManager.NavigateTo("/users", true);
        }
        catch (Exception)
        {
            throw;
        }

    }
    public async Task DemoteUser(UserItem user)
    {
        try
        {
            await UserService.DemoteUserAsync(user);
            NavigationManager.NavigateTo("/users", true);
        }
        catch (Exception)
        {
            throw;
        }

    }


}
