@page "/viewsingletask"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;

@inject TaskService TaskService;
@inject NavigationManager NavigationManager;

<h3>ViewSingleTask</h3>

<table class="table">
    <tbody>
            <tr>
                <a href="" @onclick="@(()=> NavigationManager.NavigateTo("/viewsingletask"))" @onclick:preventDefault class="btn btn-primary">@task.TaskTitle</a>
                <td>@task.TaskTitle</td>
                <td>@task.TaskDescription</td>
                <td>@task.Completed</td>
            </tr>
    </tbody>
</table>

<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/addtask"))" @onclick:preventDefault class="btn btn-primary">Add new task</a>
@code {
    private TaskItem task = new TaskItem();


    protected override async Task OnInitializedAsync()
    {
        //task = await TaskService.GetSingleTaskAsync(); hur ska den veta vilken lista den är inne i
    }
}
